@import 'variables.scss';
.menu {
    min-width: 264px;    
    margin-top: 9px;

    &__wrap {
        padding: 12px;
        list-style: none;
        border: 1px solid $gray;
        border-radius: 18px;
    }

    &__item {
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.1px;
        text-align: left;
        color: $darkgray;
        padding: 12px;
        border-radius: 12px;

        &:hover, &_emphasized {
            background-color: $hovercolor;
            color: #ffffff;
            cursor: pointer;
        }
    }
    
}